{% extends "base.html" %}
{% block content %}
    <table>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Manufacturer</th>
            <th>Model</th>

        </tr>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.name }}</td>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.manufacturer }}</td>
                <td>{{ vehicle.make }}</td>
            </tr>
        {%  endfor %}
    </table>
    <a href="{{ url_for('add_vehicle') }}" type="button">Add Vehicle</a></a>
{% endblock %}}